<p id="notice"><%= notice %></p>
<div class="manifest" ng-controller="ManifestCtrl">
  <h1>
    {{manifest.title}}
  </h1>
  <content-item ng-repeat="item in manifest.document" content="item" data="data"></content-item>

  <%= link_to 'Edit', edit_manifest_path(@manifest) %> |
  <%= link_to 'Back', manifests_path %>
</div>
